extends layout

block content
  h1= title
    p Chat for Class #{className}

  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });

  div(class="messages")

  input(class="chat" data-id="#{id}")