body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatWrapper,
#whiteboardWrapper {
  display: inline-block;
  height: 440px;
}

#whiteboardWrapper {
  margin-left: 40px;
  position: relative;
  top: -27px;
}

.class {
  display: block;
  margin: 10px;
}

#messages {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.chat {
  width: 394px;
}

#whiteboardButton {
  float: left;
  background-color: black;
  color: white;
  padding: 7px 10px;
  border-radius: 7px;
}

#whiteboardButton:hover {
  cursor: pointer;
}

#whiteboardCanvas {
  border: 1px solid black;
  width: 600px;
  height: 400px;
  clear: both;
}

#whiteboardCanvas:hover {
  cursor: crosshair;
}